.data,.periodo, .curso{
    width: 80%;
    margin: 3% 0 0 0;
    color: rgb(116, 110, 110);
}
label{
    width: 80%;
    color: rgb(116, 110, 110);
    margin: 2.5% 0 0 0;
}

.data input, .periodo select,.curso select{
	margin-top: 2%;
    font-size: 14px;
    color: rgb(116, 110, 110);
    border: none;
    border-bottom: 1px solid rgb(116, 110, 110);
}
.data i,.periodo i,.curso i{
    margin-left: 10%;
}


.periodo{
    margin-bottom: 2%;
}
.senha-invalida{
    width: 80%;
    transition: .3s;
    opacity: 0%;
    visibility: hidden;
}
.senha-invalida-pos{
    width: 80%;
    transition: .3s;
    color: red;
    opacity: 100%;
    visibility: visible;
}