footer{
    background:linear-gradient(90deg, rgb(4, 194, 4),rgba(31, 187, 31, 0.836),rgb(6, 190, 6));
    position: static;
    bottom: 0;
    width: 100%;
}
.footer{
    padding: 20px;
    display: flex;/*Alinha no centro da classe pai*/
    justify-content: center;
    align-items: center;/*Fim*/
    flex-direction: column/*Alinha em coluna*/
}
.footer img{
    width: 4.5%;
}
.texto{
    padding:1%;
}
.texto p{
    padding-bottom: 1%;
    letter-spacing: 1px;
    font-size: 12pt;
    text-align: center;
    color: aliceblue;
}
.links{
    width: 34%;
    display: flex;/*Alinha no centro da classe pai*/
    justify-content: center;
    align-items: center;/*Fim*/
}
.links a{
    width: 10%;
    height: auto;
    margin-left: 1%;
    margin-top: 1%;
}
.links img{
    transition: 0.3s ease-in-out;
    width: 48%;
}
.links a:hover>img{
    transform: scale(1.15);
}
