@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto:ital,wght@1,100&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    display: flex;
    width: 100%;
    background: linear-gradient(90deg, rgb(197, 252, 181), rgba(131, 250, 131, 0.651), rgba(59, 250, 59, 0.692), rgba(4, 141, 4, 0.897));
}

#logo>a>img {
    float: left;
    padding: 1.4% 4%;
    width: 30%;
}

/*Formatacao do main para centralizar o cadastro*/
main {
    background-color: rgba(183, 253, 165, 0.322);
    padding-top: 5%;
    padding-bottom: 8%;
    display: flex;
    /*Alinha no centro da classe pai*/
    justify-content: center;
    align-items: center;
    /*Fim*/

}
/*Formatacao de container, onde estara toda tela de login*/
.container {
    background-color:white;
    width: 32%;
    display: flex;
    /*Alinha no centro da classe pai*/
    justify-content: center;
    align-items: center;
    /*Fim*/
    flex-direction: column;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.575);
}
.container h1{
    width: 80%;
    font-size: 28px;
    color: rgb(6, 104, 6);
    font-weight: bold;
    padding: 2%;
}

/*Imagem do ifsuldeminas com controle de cantina*/
.imagem{
    padding: 10px;
    background-color: rgb(6, 104, 6);
    margin-bottom: 3%;
}
.imagem img{
    padding: 2%;
    width: 70%;
}
.linha{
    height: 2px;
    width: 80%;
    background-color: rgb(6, 104, 6);
    margin: 1% 0 10% 0;
}

/*Formata os inputs*/
.login {
    position: relative;
    padding-top: 13px;
    margin-bottom: 3%;
    width: 80%;
}

.login input {
    padding: 3px;
    width: 70%;
    border: 0;
    border-bottom: 1px solid grey;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance: none;
    border-radius: 0;
}

.login input:focus {
    border-bottom: 1px solid rgb(6, 104, 6);
}

.login input::placeholder {
    color: transparent;
}

.login label {
    color: rgb(116, 110, 110);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
}
#senha,#senha-confirmada{
    width: 55%;
}
.login input:focus+label,
.login input:not(:placeholder-shown)+label{
    font-size: 13px;
    margin-top: 0;
    color: rgb(6, 104, 6);
}
/*Exibir a senha*/
#exibe-senha,#exibe-senha1,#exibe-senha2{
    height: 23px;
    width: 23px;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
}
/*Botao*/
#botao{
    transition: .4s ease-in-out;
    color: aliceblue;
    font-size: 17px;
    font-weight: bold;
    margin: 5% 0 8% 0;
    width: 50%;
    padding: 2%;
    background-color: rgb(6, 104, 6);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
#botao:hover{
    transform: scale(1.05);
    background-color: rgb(1, 54, 1);
}

/*redirecionamento*/


.altera{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
}
.altera a{
    transition: .3s;
    color: rgb(6, 104, 6);
    text-decoration: none;
    padding-top: 1%;
}
.altera a:hover{
    color: rgb(1, 54, 1);
}

/*Usuario ou senha incorreto*/
.incorreto{
    width: 80%;
    margin: 2% auto;
    color: red;
}

@media screen and (max-width: 420px){
    header{
        height: 80px;
    }
    main{
        height: auto;
    }
    .container{
        width: 80%;
        height: auto;
        margin: 10% auto;
    }
    #logo>a>img {
        width: 50%;
    }
    #senha-confirmada{
        padding: 2%;
    }
}